@{
    Layout = null;
}
@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CityAccess</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link rel="icon" href="/favicon (1).ico">
    <link href="Landing/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="Landing/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="Landing/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="Landing/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="Landing/lib/aos/aos.css" rel="stylesheet">
    <link href="Landing/lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="Landing/css/style.css" rel="stylesheet">

</head>
<body>
    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">
                <img src="Landing/img/LogoCityAccess.png" alt="" style="">
                <h1><a href="#intro" class="scrollto">CityAccess</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></img></a> -->
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    @if (Session["userID"] == null)
                    {
                    <li><a href="/Login">Login</a></li>
                    }
                    else
                    {
                    <li><a href="/Agreements">Operation area</a></li>
                    }
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-text">
            <h2>Welcome to CityAccess!</h2>
            <p><i>The Marketplace for local tourism services</i></p>

        </div>
        <div class="product-screens">
            <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
                <img src="Landing/img/product-screen-1.png" alt="">
            </div>
            <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
                <img src="Landing/img/product-screen-2.png" alt="">
            </div>
            <div class="product-screen-3" data-aos="fade-up">
                <img src="Landing/img/product-screen-3.png" alt="">
            </div>
        </div>
    </section><!-- #intro -->
    <main id="main">
        <!--==========================
          About Us Section
        ============================-->
        <section id="about" class="section-bg">
            <div class="container-fluid">
                <div class="section-header">
                    <h3 class="section-title">About Us</h3>
                    <span class="section-divider"></span>
                    <p class="section-description">
                        CityAccess is a marketplace where demand and offer for tourism services meet!<br><br>
                        As a provider you can reach a large audience of tourists and tourism operators! <br>
                        As an operator you have access to a diversity of offers for all the types os tourism services, for you to book for your guests!
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6 about-img" data-aos="fade-right">
                        <img src="Landing/img/about-img.jpg" alt="">
                    </div>
                    <div class="col-lg-6 content" data-aos="fade-left">
                        <h2>A Marketplace for local tourism services</h2>
                        <h3>Whether you are a Service Provider looking to promote your services or you are a Host seeking the best services to indulge your guests, this is the (market)place for you!</h3>
                        <p>
                            City Access is the place to go to book services for your guests visiting the City: from the airport transfer to a surf class, a scooter rental or hot air ballooning experience, everything is possible and there are endless possibilities!
                        </p>
                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i> Easy registration process - you can get up and running in less than 15 minutes,</li>
                            <li><i class="ion-android-checkmark-circle"></i> Flexible and versatile comissioning system for your sales,</li>
                            <li><i class="ion-android-checkmark-circle"></i> Perfect to expand your sales reach and easy the management of your bookings!</li>
                        </ul>
                        <p>
                            As a Service Provider, City Access provides you a simple and easy to use interface to publish your services and follow up on service booking and execution!
                        </p>
                        <p>
                            As a Host, City Access allows you to easily browse and book services for your Guests and benefit from interesting commisions schemes!
                        </p>
                    </div>
                </div>
            </div>
        </section><!-- #about -->
        <!--==========================
          Product Featuress Section
        ============================-->
        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4">
                        <div class="section-header" data-aos="fade" data-aos-duration="1000">
                            <h3 class="section-title">Product Features</h3>
                            <span class="section-divider"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 features-img">
                        <img src="Landing/img/product-features.png" alt="" data-aos="fade-right" data-aos-easing="ease-out-back">
                    </div>
                    <div class="col-lg-8 col-md-7 ">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 box" data-aos="fade-left">
                                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                                <h4 class="title"><a href="">Easy to use</a></h4>
                                <p class="description">City Access was designed to make your operation fast and stress free. We put a lot of care in the usability so that you require no training to use the application</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="100">
                                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                                <h4 class="title"><a href="">Global presence</a></h4>
                                <p class="description">As a Service Provider you can have Hosts from around the world book your services for they guests in your area. As a Host you can book services for your guests around the world</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="200">
                                <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                                <h4 class="title"><a href="">Ad-hoc agreements</a></h4>
                                <p class="description">City Access allows you to setup different pricing agreements with specific partners</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="300">
                                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                                <h4 class="title"><a href="">Monitor your business</a></h4>
                                <p class="description">As either a Service Provider or as a Host, follow up your bookings and associated KPIs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #features -->
        <!--==========================
          Product Advanced Featuress Section
        ============================-->
        <section id="advanced-features">
            <div class="features-row section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img class="advanced-feature-img-right" src="Landing/img/advanced-feature-1.jpg" alt="" data-aos="fade-left">
                            <div data-aos="fade-right">
                                <h2>Manage your services on the go!</h2>
                                <h3>You can make new bookings or manage existing ones on the go, never again losing a business opportunity</h3>
                                <p>As a host you can make new bookings for your guests or manage existing ones.</p>
                                <p>As a service provider you can accept new bookings and manage the delivery of existing bookings.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features-row">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img class="advanced-feature-img-left" src="Landing/img/advanced-feature-2.jpg" alt="">
                            <div data-aos="fade-left">
                                <h2>Simple organization and management for your operation!</h2>
                                <i class="ion-ios-paper-outline" data-aos="fade-left"></i>
                                <p data-aos="fade-left">Keep track of all your bookings and updated status in one central location - shared with your partners!</p>
                                <i class="ion-ios-color-filter-outline" data-aos="fade-left" data-aos-delay="200"></i>
                                <p data-aos="fade-left" data-aos-delay="200">Manage the resources and logistics needed to fulfill service requests in a completely integrated way - and linked to the service request!</p>
                                <i class="ion-ios-barcode-outline" data-aos="fade-left" data-aos-delay="400"></i>
                                <p data-aos="fade-left" data-aos-delay="400">Easily extract data to generate invoices for your customers for services booked in the Marketplace and payment summaries for services you booked!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features-row section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img class="advanced-feature-img-right" src="Landing/img/advanced-feature-3.jpg" alt="" data-aos="fade-left">
                            <div data-aos="fade-right">
                                <h2>Keep track of your business!</h2>
                                <h3>Easily monitor the current status and the evolution of KPIs for your business: number of bookings for each service, current execution status, key financial indicators ...</h3>
                                <p>With CityAccess you are always on top of your information, with both the snapshot of the current reservations as well as the full activity history.</p>
                                <i class="ion-ios-albums-outline"></i>
                                <p>You can either use the information directly through CityAccess or download it for offline analysis using your preferred tool.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #advanced-features -->
        <!--==========================
          Call To Action Section
        ============================-->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">Pre-register now!</h3>
                        <p class="cta-text"> Be one of the firsts to levegare this new platform to reach more customers or better serve your guests! pre-register now and get early adopter status!</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Pre-register!</a>
                    </div>
                </div>
            </div>
        </section><!-- #call-to-action -->
        <!--==========================
          More Features Section
        ============================-->
        <section id="more-features" class="section-bg">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">More Features</h3>
                    <span class="section-divider"></span>
                    <p class="section-description">We are permanently evolving City Access - look at some of the features that are in the forge for the upcoming release!</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box" data-aos="fade-right">
                            <div class="icon"><i class="ion-ios-calendar-outline"></i></div>
                            <h4 class="title"><a href="">Resource Management</a></h4>
                            <p class="description">The possibility of managing periods of availability and occupation of resources needed to fulfill services (transportation, rentals,...) </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box" data-aos="fade-left">
                            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                            <h4 class="title"><a href="">Calendar Integration</a></h4>
                            <p class="description">Get your CityAccess events to show in your calendar so that you can stay on top of your agenda</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box" data-aos="fade-right">
                            <div class="icon"><i class="ion-ios-film-outline"></i></div>
                            <h4 class="title"><a href="">Customised Vouchers</a></h4>
                            <p class="description">Allow each provider to configure the template for printing vouchers for each of its services sold in City Access</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box" data-aos="fade-left">
                            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                            <h4 class="title"><a href="">Enhanced Dashboard</a></h4>
                            <p class="description">Addition of several indicators in the dashboard to allow a more indepth and detailed monitoring of your operation</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #more-features -->
        <!--==========================
          Pricing Section
        ============================-->
        <section id="pricing" class="section-bg">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">Pricing</h3>
                    <span class="section-divider"></span>
                    <p class="section-description">
                        We are on the early stages, and trialing our platform with select partners.<br>
                        We will be opening registration for new partners soon - please check back in a couple of weeks.
                    </p>

                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="box" data-aos="fade-right">
                            <h3>Free</h3>
                            <h4><sup>€</sup>0<span> month</span></h4>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> Publish services for operators to book </li>
                                <li><i class="ion-android-checkmark-circle"></i> Book services for your customers </li>
                                <li><i class="ion-android-checkmark-circle"></i> Pay as you go... success based! </li>
                                <li><i class="ion-android-checkmark-circle"></i> Manage delivery of booked services </li>
                                <li><i class="ion-android-checkmark-circle"></i> Follow up invoicing of services </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box featured" data-aos="fade-up">
                            <h3>Early Adopter</h3>
                            <h4><sup>€</sup>0<span> month</span></h4>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> All the perks of the Free subscription </li>
                                <li><i class="ion-android-checkmark-circle"></i> Trial new features </li>
                                <li><i class="ion-android-checkmark-circle"></i> Personalized support </li>
                                <li><i class="ion-android-checkmark-circle"></i> Priority for feature requests</li>
                                <li><i class="ion-android-checkmark-circle"></i> Spread the word about CityAccess! </li>
                            </ul>
                            <a href="#" class="get-started-btn">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </section><!-- #pricing -->
        <!--==========================
          Frequently Asked Questions Section
        ============================-->
        <section id="faq">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">Frequently Asked Questions</h3>
                    <span class="section-divider"></span>
                    <p class="section-description">Do you have questions or doubts? Check bellow. <br>If you don't find what you are looking for, please contact us using the form bellow and we will be happy to help!</p>
                </div>
                <ul id="faq-list" data-aos="fade-up">
                    <li>
                        <a data-toggle="collapse" class="collapsed" href="#faq1">How can I start using CityAccess? <i class="ion-android-remove"></i></a>
                        <div id="faq1" class="collapse" data-parent="#faq-list">
                            <p>
                                The easiest way is to use the form bellow to contact us. If you prefer you can use the phone listed in the contacts section. You can get active in CityAccess in 10 minutes if you start now!
                            </p>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#faq2" class="collapsed">In which cities is CityAccess operating? <i class="ion-android-remove"></i></a>
                        <div id="faq2" class="collapse" data-parent="#faq-list">
                            <p>
                                We are currently serving the greater Lisbon area in the Beta Program
                            </p>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#faq3" class="collapsed">Oh... you are in Beta! Is CityAccess ready for primetime? <i class="ion-android-remove"></i></a>
                        <div id="faq3" class="collapse" data-parent="#faq-list">
                            <p>
                                YES! CityAccess is already supporting the operation of tens of Hosts and Service Providers, and powering hundreds of weekly bookings!
                            </p>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#faq4" class="collapsed">Is it expensive to use CityAccess? <i class="ion-android-remove"></i></a>
                        <div id="faq4" class="collapse" data-parent="#faq-list">
                            <p>
                                CityAccess charges a fraction of what you would expect, especially when compared with other booking services!
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section><!-- #faq -->
        <!--==========================
          Contact Section
        ============================-->
        <section id="contact">
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-4 col-md-4">
                        <div class="contact-about">
                            <h3>CityAccess</h3>
                            <p>
                                The Marketplace for local tourism services! <br>
                                As a service provider or as a host, Pre-register now and get full early adopter status!
                            </p>
                            <p>Let's take local tourism services to the next level!</p>
                            <div class="social-links">
                                @*<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>*@
                                <a href="https://www.facebook.com/City-Access-108344190648304/" class="facebook"><i class="fa fa-facebook"></i></a>
                                @*<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="info">

                            <div>
                                <i class="ion-ios-email-outline"></i>
                                <p>info@cityaccess.pt</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8">
                        <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>

                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #contact -->
    </main>
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">
                        &copy; Copyright <strong>CityAccess</strong>. All Rights Reserved
                    </div>


                </div>
                <div class="col-lg-6">
                    <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                        <a href="#intro" class="scrollto">Home</a>
                        <a href="#about" class="scrollto">About</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Use</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer><!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="Landing/lib/jquery/jquery.min.js"></script>
    <script src="Landing/lib/jquery/jquery-migrate.min.js"></script>
    <script src="Landing/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="Landing/lib/easing/easing.min.js"></script>
    <script src="Landing/lib/aos/aos.js"></script>
    <script src="Landing/lib/superfish/hoverIntent.js"></script>
    <script src="Landing/lib/superfish/superfish.min.js"></script>
    <script src="Landing/lib/magnific-popup/magnific-popup.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="Landing/contactform/contactform.js"></script>
    <!-- Template Main Javascript File -->
    <script src="Landing/js/main.js"></script>
</body>
</html>
