
@{
    ViewBag.Title = "VerifyAccount";
}

<div class="Header">
    <div class="Section-Title col-md-3">
        <h1>Register</h1>
    </div>
</div>

<div class="Content">
    <p> Your account registration is now complete.</p>
</div>

