
@{
    ViewBag.Title = "Confirm";
}
<div class="Header">
    <div class="Section-Title col-md-3">
        <h1>Agreement confirmation</h1>
    </div>
</div>

<div class="Content">
    <p> Your agreement is confirmed , please log in to operate on it.</p>
</div>

