@{
    ViewBag.Title = "Home Page";
}

<div class="Header">
    <div class="Section-Title col-md-12">
        <h1>Backoffice</h1>
        <p class="lead">Aqui pode efectuar toda a configuração do serviço.</p>
    </div>
</div>
<div class="Content">
    <div class="row">
        <div class="col-md-4">
            <h2>Onde começar? </h2>
            <p>
                Parceiros, Serviços, Acordos...
            </p>

        </div>

    </div>
</div>
